# configuration for all except 'release' branch
# Build in Debug, publish to MyGet

# configuration for only 'release' branch
# Build in Release, publish to Nuget

image: Visual Studio 2017
version: 0.1.1-{branch}-build{build}
skip_tags: true
clone_depth: 1
configuration:
  - Debug
  - Release
cache:
  - packages -> **\packages.config
init:
  - git config --global core.autocrlf true
# checking if release branch
  - ps: |
      # set release_branch
      $env:release_branch = $env:APPVEYOR_REPO_BRANCH.StartsWith("release")
      echo "release_branch='$env:release_branch'"
 # setting versions
  - ps: |
      # extract x.y.z from version
      $env:ASM_MAJOR_VERSION = $env:APPVEYOR_BUILD_VERSION -replace '^(\d*)\.(\d*)\.(\d*).*$', '$1'
      $env:ASM_MINOR_VERSION = $env:APPVEYOR_BUILD_VERSION -replace '^(\d*)\.(\d*)\.(\d*).*$', '$2'
      $env:ASM_PATCH_VERSION = $env:APPVEYOR_BUILD_VERSION -replace '^(\d*)\.(\d*)\.(\d*).*$', '$3'
      $env:ASM_FILE_VERSION = "$env:ASM_MAJOR_VERSION.$env:ASM_MINOR_VERSION.$env:ASM_PATCH_VERSION.$env:APPVEYOR_BUILD_NUMBER"
      echo "ASM_FILE_VERSION='$env:ASM_FILE_VERSION'"
      # create suffix in form {branch}-build00000 where branch has all non-character
      $env:PACKAGE_SUFFIX = ($env:APPVEYOR_REPO_BRANCH -replace '[^\w\d]', '-') + '-build' + "$env:APPVEYOR_BUILD_NUMBER".PadLeft(5, "0")
      echo "PACKAGE_SUFFIX='$env:PACKAGE_SUFFIX'"
      # set ASM_INFORMATIONAL_VERSION
      $env:ASM_INFORMATIONAL_VERSION = "$env:ASM_MAJOR_VERSION.$env:ASM_MINOR_VERSION.$env:ASM_PATCH_VERSION-$env:PACKAGE_SUFFIX"
      echo "ASM_INFORMATIONAL_VERSION='$env:ASM_INFORMATIONAL_VERSION'"
before_build:
  - nuget restore
  - ps: cat "src\Amadevus.RecordGenerator\Properties\AssemblyInfo.cs"
assembly_info:
  patch: true
  file: src\**\AssemblyInfo.cs
  assembly_version: '$(ASM_MAJOR_VERSION).0.0.0'
  assembly_file_version: '$(ASM_FILE_VERSION)'
  assembly_informational_version: '$(ASM_INFORMATIONAL_VERSION)'
build:
  project: Amadevus.RecordGenerator.sln
  verbosity: minimal
notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/7a491795ae7262cd16b3
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true
artifacts:
  - path: '**\Amadevus.RecordGenerator.*.nupkg'
deploy:
  - provider: NuGet
    server: https://www.myget.org/F/amadevus/api/v2/package
    symbol_server: https://www.myget.org/F/amadevus/symbols/api/v2/package
    api_key:
      secure: 1xqXXkTjhe96ttKDaPOqzaoeulcSO4cb2FMu3nXvHmrFMRq2gJJ6DkKlu1VUu2bO
    skip_symbols: false
    artifact: /.*\.nupkg/
    on:
      release_branch: false
      configuration: Debug

  - provider: NuGet
    api_key:
      secure: 2gemJwOXQpV6gzlWzuZWH85ZNqvsWoVvbzUSI00Q8D7WdxkErr4p0Rn8hJ1fx4en
    skip_symbols: false
    artifact: /.*\.nupkg/
    on:
      release_branch: true
      configuration: Release
