name: .NET Core CI
on: [ push, pull_request ]
jobs:
  ci:
    runs-on: windows-latest
    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
        
    - name: Restore packages
      run: dotnet restore -v m
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Run tests
      run: dotnet test --configuration Release --no-build
    
    - name: Build samples
      shell: pwsh
      run: |
        Get-ChildItem samples -Directory | ForEach-Object {
          Push-Location $_
          Write-Host $_.FullName -ForegroundColor Green
          dotnet build
          Pop-Location
        }
